body{
  background-color: floralwhite;
  margin-left: 60px;
}

h1{
  color: magenta;
  font-size: 50px;

}

p{
 color:rebeccapurple;
 font-size: 36px;
}

p a{
  color: greenyellow;
  font-size: 36px;
  text-decoration: none;
}

#boba {
  font-size: 25px;
  color: powderblue;
}

.bright{ 
  color: orchid;
 }